*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    height:100%;
    max-width:100%;
    overflow: hidden;
}
.sky{
    height:50%;
    background:lightblue;
    position:relative;
}
.grass{
    height:25%;
    background:green;
    position:relative;
}
.road{
    height:25%;
    background:grey;
    position:relative;
    border-top:darkgrey 5px solid;
}
.lines{
    border:5px dashed yellow;
    position:absolute;
    width: 100%;
    top:50%;
}
.lisa{
    position:absolute;
    top:-4vh;
    animation-name: skate;
    animation-duration:4.5s; 
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    height: 15vh;
}
.she-ra{
    position:absolute;
    top:3vh;
    height: 20vh;
    animation-name: skate;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-fill-mode:both;
    animation-direction:reverse;
}
.cloud{
    position: absolute;
    
}
.cloud:nth-child(1){
    height: 10vh;
    top:25vh;
    opacity:0.5;
    animation-name: skate;
    animation-duration:15s;
    animation-iteration-count:infinite;
}
.cloud:nth-child(2){
    height: 15vh;
    animation-name:skate;
    animation-duration:20s;
    animation-direction:reverse;
    animation-iteration-count:infinite;
}
@keyframes skate{ 
    from{transform:translateX(-200px);}
    to{transform:translateX(110vw);}
}